* {
    /*outline: 1px dashed red;*/
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Slabo 27px', serif;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Dosis', sans-serif;
  }
  
  h3 {
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  #images {
    width: 960px;
    margin: 0px auto;
  } 
  
  img {
    width: 30%;
    border: 5px solid black;
    transition: 350ms all;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  img:hover {
    border-color: #7FFF00;
  }
  
  ul {
    width: 960px;
    margin: 0px auto;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  li {
    display: inline-block;
    font-size: 20px;
  }
  
  canvas {
      /*border: 2px solid black;*/
      padding: 0;
      margin: auto;
      display: block;
  }
  
  #chart_area {
    margin-bottom: 100px;
  }
  
  #buttons {
    width: 960px;
    margin: 0px auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  button {
    width: 100px;
    height: 50px;
  }
  
  #table_link {
    margin-top: 20px;
    font-size: 30px;
    color: red;
  }